// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Overpass', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$header-color: #022d36;

$bgColor: #DED0B3;
$bgLtColor: #F9F8F6;
$imgBgColor: #0F0E0F;
$grColor: #61595F;
$col: #C7B8A4;
$deepColor: #998B79;
$darkColor: #61595F;
$dangerColor: #DA2E20;
