// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'part';

.nav-item.active{
    background-color: red;
}
.nav-item.active a{
    color: var(--bs-light);
}

.z-index100{
    z-index: 100;
}

.react-body{
    min-height: calc(100vh - 60px);
}

body {
    // overflow: hidden;
    background-color: $bgColor !important;
}

.w-200p {
    width: 200px !important;
}
.w-220p {
    width: 220px !important;
}

footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}
footer a:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
}

.thebody{
    min-height: calc(100vh - 60px - 3rem);
}

.admin-navbar{
    background-color: $bgColor !important;
}
.bgColor{
    background-color: $bgColor !important;
}