// Fonts
@import url('https://fonts.googleapis.com/css2?family=Overpass');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'part';

.nav-item .nav-link {
    color: $header-color !important;
}

.article-card .card-title{
    color: #1f456e !important;
}

.article-card, .login-paper, 
.signup-paper, .profile-paper, .admin-table{
    background-color: $col !important;
}

.mobile-item{
    background-color: $deepColor !important;
}

.ellipsis{
    height: 120px;
    line-height: 1.3;
    // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.nav-link.active{
    border-bottom: .2em solid var(--bs-danger);
}

.z-index100{
    z-index: 100;
}

.react-body{
    min-height: calc(100vh - 60px);
}

body {
    // overflow: hidden;
    background-color: $bgColor !important;
}

.w-200p {
    width: 200px !important;
}
.w-220p {
    width: 220px !important;
}

footer{
    background-color: $deepColor;
}

footer a{
    text-decoration: none;
    color: $header-color;
}
footer a:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
}

.thebody{
    min-height: calc(100vh - 60px - 3rem);
}

.admin-navbar{
    background-color: $bgColor !important;
}
.bgColor{
    background-color: $bgColor !important;
}
.ck-content pre{
    background: #272822 !important;
    color: var(--bs-light) !important;
    box-shadow: 5px 5px 0 $deepColor !important;
    border: 1px solid #c4c4c4 !important;
    border-radius: 2px !important;
    direction: ltr;
    font-style: normal;
    width: min(700px, 92%) !important;
    padding: 1em;
    display: block;
    margin: 2em auto;
}
.ck-content pre.dark-code {
}
